
## <summary>policy for pivx</summary>


########################################
## <summary>
##	Transition to pivx.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`pivx_domtrans',`
	gen_require(`
		type pivx_t, pivx_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, pivx_exec_t, pivx_t)
')


########################################
## <summary>
##	Execute pivx server in the pivx domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`pivx_initrc_domtrans',`
	gen_require(`
		type pivx_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, pivx_initrc_exec_t)
')


########################################
## <summary>
##	Search pivx lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`pivx_search_lib',`
	gen_require(`
		type pivx_var_lib_t;
	')

	allow $1 pivx_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read pivx lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`pivx_read_lib_files',`
	gen_require(`
		type pivx_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, pivx_var_lib_t, pivx_var_lib_t)
')

########################################
## <summary>
##	Manage pivx lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`pivx_manage_lib_files',`
	gen_require(`
		type pivx_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, pivx_var_lib_t, pivx_var_lib_t)
')

########################################
## <summary>
##	Manage pivx lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`pivx_manage_lib_dirs',`
	gen_require(`
		type pivx_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, pivx_var_lib_t, pivx_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a pivx environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`pivx_admin',`
	gen_require(`
		type pivx_t;
		type pivx_initrc_exec_t;
		type pivx_var_lib_t;
	')

	allow $1 pivx_t:process { ptrace signal_perms };
	ps_process_pattern($1, pivx_t)

	pivx_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 pivx_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, pivx_var_lib_t)

')

