policy_module(rapids, 1.100.1)

########################################
#
# Declarations
#

type rapids_t;
type rapids_exec_t;
init_daemon_domain(rapids_t, rapids_exec_t)

permissive rapids_t;

type rapids_initrc_exec_t;
init_script_file(rapids_initrc_exec_t)

type rapids_conf_t;
files_type(rapids_conf_t)

type rapids_var_lib_t;
files_type(rapids_var_lib_t)

type rapids_var_run_t;
files_type(rapids_var_run_t)

type rapids_port_t;
corenet_port(rapids_port_t)

########################################
#
# rapids local policy
#
allow rapids_t self:process { fork };

allow rapids_t self:fifo_file rw_fifo_file_perms;
allow rapids_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(rapids_t, rapids_conf_t, rapids_conf_t)
manage_files_pattern(rapids_t, rapids_conf_t, rapids_conf_t)

manage_dirs_pattern(rapids_t, rapids_var_lib_t, rapids_var_lib_t)
manage_files_pattern(rapids_t, rapids_var_lib_t, rapids_var_lib_t)
files_var_lib_filetrans(rapids_t, rapids_var_lib_t, { dir file })

manage_dirs_pattern(rapids_t, rapids_var_run_t, rapids_var_run_t)
manage_files_pattern(rapids_t, rapids_var_run_t, rapids_var_run_t)

sysnet_dns_name_resolve(rapids_t)
corenet_all_recvfrom_unlabeled(rapids_t)

allow rapids_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(rapids_t)
corenet_tcp_sendrecv_generic_node(rapids_t)
corenet_tcp_sendrecv_all_ports(rapids_t)
corenet_tcp_bind_generic_node(rapids_t)

gen_require(`
    type rapids_port_t;
')
allow rapids_t rapids_port_t:tcp_socket name_bind;

gen_require(`
    type rapids_port_t;
')
allow rapids_t rapids_port_t:tcp_socket name_connect;

domain_use_interactive_fds(rapids_t)

files_read_etc_files(rapids_t)

miscfiles_read_localization(rapids_t)

sysnet_dns_name_resolve(rapids_t)

allow rapids_t rapids_exec_t:file execute_no_trans;
allow rapids_t self:process setsched;
corecmd_exec_ls(rapids_t)
corenet_tcp_connect_http_port(rapids_t)
dev_read_urand(rapids_t)
fs_getattr_xattr_fs(rapids_t)
kernel_read_system_state(rapids_t)
