# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=PIVX Core Daemon SNAP
Comment=main
GenericName=PIVX Digital Currency Daemon Client main network
Exec=pivx-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/pivx.png
MimeType=x-scheme-handler/piv;
Categories=X-Office;X-Finance;
Keywords=internet;pivx;zpiv;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
